html
{
    scroll-behavior: smooth;
}

body
{
    
    background-image: url('../img/Concrete-Texture-2.jpg');
    margin: 0;
    background-size: 1300px;
    box-sizing: border-box;

    

}
.Header
{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    
    
}

.Header > img
{
    margin-left: 30px;
    width: 8%;
    height: auto;
}

.HeaderLinks
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    color: #fff;
    
}
.HeaderLinks > a
{
    margin-right: 3vw;
    text-decoration: none;
    font-size: .5vw;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 631;
    font-size: 1.8vw;
    line-height: 44px;
    color: #FFFFFF;
    z-index: 2;
    transition: .2s;
    transform: scale(1);

}

.HeaderLinks > a:hover
{
    color: #FF5C37;
    text-decoration:overline;
    transform: scale(1.1);
    


}

.backTopImage
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.backTopImage > img
{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: -10px;
    margin-left: -20px;
}

.TopImageText
{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.TopImageText > h1
{
    

    

    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 900;
    font-size: 5vw;
    line-height: 4.5vw;
    

    color: #FF5C37;

    -webkit-text-stroke-width: .25vw;
    -webkit-text-stroke-color: black;
    text-shadow: 0vw .2vw .2vw rgba(0, 0, 0, 0.25);

}

.TopImageText > h2
{
    

    

    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5vw;
    line-height: 4.5vw;
    text-shadow: 0vw .2vw .2vw rgba(0, 0, 0, 0.25);
    margin-top: -4.5vw;
    color: #FFEFBC;


}

.TopImageText > h3
{
    

    

    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 1000;
    font-size: 4.3vw;
    line-height: 4.5vw;
    text-shadow: 0vw .2vw .2vw rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    color: #FFFFFF;
    -webkit-text-stroke-width: .15vw;
    -webkit-text-stroke-color: black;

}

.SobreNos
{
    position: relative;
    background-color: #FF5C37;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: -.1%;
}



#imgfundo
{
    width: 100%;
    height: 700px;
}

.SobreNosDesc
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SobreNosDesc > h1
{
    
    z-index: 1;
    
    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 0px;
    margin-top: 10%;
    margin-bottom: -5%;
    

    color: #000;

    
    
}

.SobreNosDesc > h2
{
    
    z-index: 1;
    padding: 10%;
    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 120%;
    
    text-justify: auto;
    display: flex;
    align-items: center;
    text-align: justify;


    color: #000;

    
    
}

#imgFrente
{
    
    max-width: 20%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 50px;
}

/* image 4 */
.Precos
{
    margin-top: 5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Precos > h1
{
    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 97px;
    

    color: #000;
}

.PreçosTabela
{
    width: 85%;
    height: auto;
    background: #FF5C37;
    border-radius: 35px;
    padding: 10px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.PreçosTabela > embed
{
    width: 100%;
    height: 900px;
    border-radius: 35px;
}

.TabelaDentro
{
    margin: 20px;
    border-radius: 35px;
    width: 30%;
    height: 45vw;
    background: #DCDCDC;
}

/* Rectangle 13 */

.RESERVA, .CONTATO
{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.RESERVA > h1, .CONTATO > h1
{
    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 97px;
    

    color: #000;
}

.RESERVATabela
{
    width: fit-content;
    height: 250px;
    background: #FF5C37;
    border-radius: 250px;
    padding: 10px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;

    /* Rectangle 13 */

    

}

.RESERVATabela > img
{

    width: 20%;
    height: auto;
    margin-right: 0.3%;


}



.RESERVATabela > a
{
    font-family: 'Arial' ;
    font-style: normal;
    text-decoration: none;
    transition: .2s;
    font-weight: 1000;
    font-size: 60px;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 50px;
    color: #FFFFFF;
    transform: scale(1);
}

.RESERVATabela > a:hover
{
    color: #29A71A;
    text-decoration: underline;
    transform: scale(1.025);
}

.Mapa
{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Mapa > h1
{
    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 97px;
    

    color: #000;
}

.MapaTabela 
{
    width: 90%;
    height: 800px;
    background: #FF5C37;
    border-radius: 35px;
    padding: 10px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.MapaTabela > iframe
{
    width: 97%;
    height: 97%;
    margin-left:-700px;
    margin-right:-700px;
    border-radius: 35px;
}

.Fotos
{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Fotos > h1
{
    font-family: 'Arial' ;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 97px;
    

    color: #000;
}

.FotosTabela 
{
    width: 90%;
    height: 800px;
    background: #FF5C37;
    border-radius: 35px;
    
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

.FotosTabela > video
{
    width: 100%;
    height: auto;
    margin-top: 100px;

}

.swiper
{
    
    width: 95%;
    height: 93%;
    border-radius: 35px;
}
.swiper-slide img
{
    width: 100%;
    height: auto;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #FF5C37;
}

.swiper .swiper-pagination-bullet-active
{
    background: #FF5C37;
}

.CONTATOTabela > img
{
    width: 20%;
    height: auto;
    margin: 5px;
}

.CONTATOTabela > a
{
    transition: .2s;
    transform: scale(.9);
}

.CONTATOTabela > a:hover
{
    transform: scale(1.02);
}

.CONTATOTabela
{
    width:fit-content;
    height: auto;
    background: #FF5C37;
    border-radius: 250px;

    margin: 0px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;

    /* Rectangle 13 */

    

}

#instaImg
{
    width: 28.5%;
    height: auto;
}

.Rodape
{
    margin-top: 5%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.Rodape > h1
{
    text-decoration: none;
    font-size: 20px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 631;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    font-variation-settings: 'slnt' 0;
}